body{
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 5px 0;
}
       .login-card {
            margin-top: 80px;
            padding: 40px;
            border-radius: 10px;
        }
   