body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
}
main {
    flex: 1 0 auto;
}
nav {
    background-color: #03a9f4;
}
.nav-wrapper .brand-logo {
    font-size: 1.5rem;
}
.login-card {
    padding: 30px;
    border-radius: 5px;
    margin-top: 50px;
}
.btn-entrar {
    width: 100%;
    border-radius: 2px;
}
footer.page-footer {
    background-color: #ff9800;
    margin-top: 0;
}
.footer-copyright {
    background-color: #f57c00;
}
