body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fcfcfc;
}
main {
    flex: 1 0 auto;
}
nav {
    background-color: #03a9f4;
}
footer.page-footer {
    background-color: #ff9800;
    margin-top: 20px;
}
.footer-copyright {
    background-color: #f57c00;
}
.table-container {
    margin-top: 30px;
}
.form-card {
    padding: 20px 30px;
    border-top: 3px solid #ff9800;
}
